---
import Header from "@/components/Header";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import "../assets/styles/global.css";
import HeroBanner from "@/components/HeroBanner";
import SolicitarCTABannerSection from "@/components/SolicitarCTABannerSection";
import DescargarBrochureSection from "@/components/DescargarBrochureSection";
import Footer from "@/components/Footer";

import NegocioMereceUnaWeb from "@/assets/images/tu_negocio_merce_una_web.webp?url";

import Soluciones1 from "@/assets/images/soluciones_1.webp?url";
import Soluciones2 from "@/assets/images/soluciones_2.webp?url";
import Soluciones3 from "@/assets/images/soluciones_3.webp?url";

import proceso1 from "@/assets/images/proceso_1.webp?url";
import proceso2 from "@/assets/images/proceso_2.webp?url";
import proceso3 from "@/assets/images/proceso_3.webp?url";
import proceso4 from "@/assets/images/proceso_4.webp?url";

import logoOffroad from "@/assets/images/logo_offroadperu.webp?url";
import logoZukarZen from "@/assets/images/logo_zukarzen.webp?url";
import logoLaboratoria from "@/assets/images/logo_laboratoria.webp?url";
import logoBCP from "@/assets/images/logo_bcp.webp?url";
import logoLVEnergy from "@/assets/images/logo_lvenergy.webp?url";
import logoMcKinsey from "@/assets/images/logo_mckinsey.webp?url";

const logos = [
  { src: logoZukarZen, alt: "Zukar Zen" },
  { src: logoLaboratoria, alt: "Laboratoria" },
  { src: logoBCP, alt: "BCP" },
  { src: logoOffroad, alt: "Off Road Peru" },
  { src: logoLVEnergy, alt: "L&V Energy" },
  { src: logoMcKinsey, alt: "McKinsey & Company" },
];
---

<Layout>
  <Header client:load />

  <HeroBanner client:load />

  <!-- Tu negocio merece una página web -->
  <section
    class="container mx-auto flex flex-col md:flex-row items-center justify-between gap-8 py-12"
  >
    <div class="max-w-lg 3xl:max-w-2xl text-start">
      <h2
        class="font-nunito text-3xl md:text-4xl font-bold text-black mb-4 pr-8"
      >
        Tu negocio merece una página web
      </h2>
      <p class="font-nunito font-medium text-lg text-gray-600 pr-4">
        Hoy en día es necesario contar con una herramienta digital adicional a
        las redes sociales, que sea una pista de aterrizaje para todos esos
        usuarios que desean explorar y conocer más sobre tu negocio.
      </p>
    </div>
    <div class="">
      <img
        src={NegocioMereceUnaWeb}
        alt="Negocio digital"
        class="rounded-lg shadow-md"
      />
    </div>
  </section>

  <!-- Te entregamos resultados reales y medibles -->
  <section
    class="container mx-auto flex flex-col-reverse md:flex-row items-center justify-between gap-8 py-16"
  >
    <div class="flex-1 flex justify-center relative">
      <div
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[95%] h-[120%] z-0 pointer-events-none"
      >
        <div
          class="w-full h-full rounded-2xl"
          style="background:radial-gradient(ellipse at center, rgba(226, 208, 255, 0.75) 70%, rgba(139,139,217,0.0) 75%); filter: blur(32px);"
        >
        </div>
      </div>

      <video
        class="z-10 rounded-lg shadow-md w-full md:w-[80%]"
        src={"https://res.cloudinary.com/dz0ajaf3i/video/upload/v1747593767/KTALWEB/INDEX_VIDEO_bzv3hk.mov"}
        autoplay
        loop
        muted
        playsinline
      >
      </video>
    </div>
    <div class="flex-1 max-w-2xl">
      <h2 class="font-nunito text-3xl md:text-4xl font-bold text-black mb-6">
        Te entregamos resultados reales y<br />medibles
      </h2>
      <ul class="space-y-3 text-lg">
        <li class="flex items-start gap-2">
          <span class="text-base text-primary-purple-100 mt-1">✔</span> Diseños
          adaptados a cualquier dispositivo.
        </li>
        <li class="flex items-start gap-2">
          <span class="text-base text-primary-purple-100 mt-1">✔</span> Enfocadas
          en captar clientes y generar acción.
        </li>
        <li class="flex items-start gap-2">
          <span class="text-base text-primary-purple-100 mt-1">✔</span> Con carga
          rápida y rendimiento optimizado para mejorar la experiencia del usuario.
        </li>
        <li class="flex items-start gap-2">
          <span class="text-base text-primary-purple-100 mt-1">✔</span> Experiencia
          de usuario intuitiva, a través de una estructura clara, navegación fluida
          y contenido fácil de entender.
        </li>
        <li class="flex items-start gap-2">
          <span class="text-base text-primary-purple-100 mt-1">✔</span> Pensadas
          para crecer contigo a futuro y así puedas agregar tienda, blog, reservas
          o nuevas secciones sin complicaciones.
        </li>
      </ul>
    </div>
  </section>

  <!-- Proceso de trabajo -->
  <section class="container mx-auto py-16">
    <h2
      class="text-center font-nunito text-3xl md:text-4xl font-bold text-black mb-14"
    >
      Estamos para asesorarte en todo el<br />proceso
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="flex flex-col items-center text-center relative">
        <div class="flex items-center w-full mb-4 px-4">
          <img src={proceso1} alt="Solicitar" class="h-10 w-10 mx-auto mb-2" />
          <span class="hidden md:block flex-1 h-[2px] bg-gray-200 ml-2"></span>
        </div>
        <h3 class="font-nunito font-bold text-lg 3xl:text-xl text-black mb-2">
          Punto de partida
        </h3>
        <p class="font-nunito text-gray-700 text-base">
          Estamos listos para ayudarte a crear y gestionar todo lo que necesites
          para crear tu web
        </p>
      </div>
      <div class="flex flex-col items-center text-center relative">
        <div class="flex items-center w-full mb-4 px-4">
          <img src={proceso2} alt="Solicitar" class="h-10 w-10 mx-auto mb-2" />
          <span class="hidden md:block flex-1 h-[2px] bg-gray-200 ml-2"></span>
        </div>
        <h3 class="font-nunito font-bold text-lg 3xl:text-xl text-black mb-2">
          Feedback y modificaciones
        </h3>
        <p class="font-nunito text-gray-700 text-base">
          Constantemente te mostramos el avance para que puedas corroborar que
          el proyecto va según lo planeado y tus requerimientos.
        </p>
      </div>
      <div class="flex flex-col items-center text-center relative">
        <div class="flex items-center w-full mb-4 px-4">
          <img src={proceso3} alt="Solicitar" class="h-10 w-10 mx-auto mb-2" />
          <span class="hidden md:block flex-1 h-[2px] bg-gray-200 ml-2"></span>
        </div>
        <h3 class="font-nunito font-bold text-lg 3xl:text-xl text-black mb-2">
          Pasos finales
        </h3>
        <p class="font-nunito text-gray-700 text-base">
          Una vez lista la web, te pasamos un link en línea para que puedas
          testear tu web antes de ser lanzada al público y así todo quede 100%
          listo.
        </p>
      </div>
      <div class="flex flex-col items-center text-center relative">
        <div class="flex items-center w-full mb-4 px-4">
          <img src={proceso4} alt="Solicitar" class="h-10 w-10 mx-auto mb-2" />
          <span class="hidden md:block flex-1 h-[2px] bg-gray-200 ml-2"></span>
        </div>
        <h3 class="font-nunito font-bold text-lg 3xl:text-xl text-black mb-2">
          Lanzamiento y publicación
        </h3>
        <p class="font-nunito text-gray-700 text-base">
          ¡Tu web ya esta en línea!. Ya finalizado el trabajo nosotros nos
          encargamos de monitorear tu web y verificar que este todo 100%
          operativo siempre para tus usuarios.
        </p>
      </div>
    </div>
  </section>

  <!-- Soluciones -->
  <section class="container mx-auto py-12">
    <h2
      class="text-center font-nunito text-3xl md:text-4xl font-bold text-black mb-8"
    >
      ¿Cuál de nuestras soluciones va mejor con tu negocio?
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Card 1 -->
      <div class="relative">
        <div
          class="absolute inset-0 z-0 rounded-lg bg-gradient-to-br from-primary-purple-100/40 to-primary-purple-100/10 backdrop-blur-md blur-sm"
        >
        </div>
        <div
          class="h-full border border-primary-purple-100
          relative z-10 bg-white shadow-md rounded-lg p-6 text-center"
        >
          <div class="md:min-h-[380px] lg:min-h-[310px] xl:min-h-[270px]">
            <img
              src={Soluciones1}
              alt="Landing Page"
              class="h-[6rem] mx-auto mb-4"
            />
            <h3 class="font-nunito text-xl font-bold text-black mb-2">
              Landing Page
            </h3>
            <p class="font-nunito text-gray-600 mb-4">
              Página enfocada a la promoción de un objetivo, ya sea desde
              completar un formulario, descargar contenido o lo que necesites
              para tu proyecto o negocio.
            </p>
          </div>
          <button
            class="bg-primary-purple-100 text-white font-bold py-2 px-4 rounded-2xl"
            >Cotizar</button
          >
        </div>
      </div>

      <!-- Card 2 -->
      <div class="relative">
        <div
          class="absolute inset-0 z-0 rounded-lg bg-gradient-to-br from-primary-purple-100/40 to-primary-purple-100/10 backdrop-blur-md blur-sm"
        >
        </div>
        <div
          class="h-full border border-primary-purple-100
          relative z-10 bg-white shadow-md rounded-lg p-6 text-center"
        >
          <div class="md:min-h-[380px] lg:min-h-[310px] xl:min-h-[270px]">
            <img
              src={Soluciones2}
              alt="Tienda Virtual"
              class="h-[6rem] mx-auto mb-4"
            />
            <h3 class="font-nunito text-xl font-bold text-black mb-2">
              Tienda virtual
            </h3>
            <p class="font-nunito text-gray-600 mb-4">
              Ponte en contacto con tus clientes potenciales y genera más ventas
              con una web que te permita ofrecer tus productos en todo momento.
            </p>
          </div>
          <button
            class="bg-primary-purple-100 text-white font-bold py-2 px-4 rounded-2xl"
            >Cotizar</button
          >
        </div>
      </div>

      <!-- Card 3 -->
      <div class="relative">
        <div
          class="absolute inset-0 z-0 rounded-lg bg-gradient-to-br from-primary-purple-100/40 to-primary-purple-100/10 backdrop-blur-md blur-sm"
        >
        </div>
        <div
          class="h-full border border-primary-purple-100
           relative z-10 bg-white shadow-md rounded-lg p-6 text-center"
        >
          <div class="md:min-h-[380px] lg:min-h-[310px] xl:min-h-[270px]">
            <img
              src={Soluciones3}
              alt="Catálogo Digital"
              class="h-[6rem] mx-auto mb-4"
            />
            <h3 class="font-nunito text-xl font-bold text-black mb-2">
              Catálogo digital
            </h3>
            <p class="font-nunito text-gray-600 mb-4">
              Si eres de los que prefiere más las ventas por redes y estás
              buscando promocionar una cantidad mínima de productos en pocos
              pasos. ¡Te ofrecemos una solución práctica y muy eficiente!
            </p>
          </div>
          <button
            class="bg-primary-purple-100 text-white font-bold py-2 px-4 rounded-2xl"
            >Cotizar</button
          >
        </div>
      </div>
    </div>
  </section>

  <!-- Empresas que confían en nosotros -->
  <section class="py-12 bg-white" aria-label="Empresas que confían en nosotros">
    <div class="container mx-auto">
      <h2
        class="text-center font-nunito text-3xl md:text-4xl font-bold text-black mb-8"
      >
        Estas empresas apuestan por nuestra experiencia<br />y resultados
      </h2>
    </div>

    <div class="3xl:container mx-auto overflow-hidden relative w-full">
      <div
        class="carousel-track flex items-center gap-12 animate-carousel min-w-max"
      >
        {
          logos.map((logo, i) => (
            <img
              src={logo.src}
              alt={logo.alt}
              class="h-14 inline-block"
              loading="lazy"
              width="auto"
              aria-hidden="true"
            />
          ))
        }

        {/* Mapear los logos duplicados para el efecto infinito */}
        {
          logos.map((logo, i) => (
            <img
              src={logo.src}
              alt={logo.alt}
              class="h-14 inline-block"
              loading="lazy"
              width="auto"
              aria-hidden="true"
            />
          ))
        }
      </div>
    </div>
  </section>

  <style is:global>
    @keyframes carousel {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0.36%);
      }
    }
    .animate-carousel {
      animation: carousel 8s linear infinite;
    }

    /* Prevenir layout shift */
    .carousel-track {
      will-change: transform;
    }

    /* Optimización para móviles */
    @media (prefers-reduced-motion: reduce) {
      .animate-carousel {
        animation: none;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  </style>

  <SolicitarCTABannerSection client:load />

  <DescargarBrochureSection client:load />

  <Footer client:load />
</Layout>
