---
import { defaultSEO } from "@/../seoConfig.ts";

const {
  title,
  description,
  keywords,
  author,
  ogType,
  ogImage,
  ogUrl,
  twitterCard,
  twitterSite,
  twitterCreator,
  canonicalUrl,
  robots,
} = Astro.props.seo || defaultSEO;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(", ")} />
    <meta name="author" content={author} />

    <meta property="og:type" content={ogType} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={ogUrl} />
    <meta name="twitter:card" content={twitterCard} />
    <meta name="twitter:site" content={twitterSite} />
    <meta name="twitter:creator" content={twitterCreator} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />

    <meta name="robots" content={robots} />

    <link rel="canonical" href={canonicalUrl} />
    <link rel="apple-touch-icon" href="/favicon.png" />

    <!-- Google tag (gtag.js) -->
    <!-- G-44PWZC0X4P -->
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-44PWZC0X4P "></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-44PWZC0X4P ");
    </script>

    <!-- GTM-PF87C8RQ -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=GTM-PF87C8RQ"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "GTM-PF87C8RQ");
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
